@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .float {
    animation: float 3s ease-in-out infinite;
  }
  
/* styles.css */
.img {
    mask-image: linear-gradient(purple 80%, transparent);
  }
  